:root {
    --dem-color: #f7f6ff;
    --dem-dark: #8390c2;
    --rep-color: #ffeded;
    --rep-dark: #d1817a;
    --ind-color: #e3f8e3;
    --ind-dark: #94cb8f;
}
tbody.expandable__member__row {
    vertical-align: middle;
}

tbody.expandable__member__row.D {
    background-color: var(--dem-color);
}

tbody.expandable__member__row.D > tr:first-child:hover {
    background-color: var(--dem-dark);
}

tbody.expandable__member__row.R {
    background-color: var(--rep-color);
}

tbody.expandable__member__row.R > tr:first-child:hover {
    background-color: var(--rep-dark);
}

tbody.expandable__member__row.I {
    background-color: var(--ind-color);
}

tbody.expandable__member__row.I > tr:first-child:hover {
    background-color: var(--ind-dark);
}

tbody.expandable__member__row td {
    border-bottom: none;
    padding: 20px;
}

tbody.expandable__member__row tr:first-child td {
    vertical-align: middle;
}

tbody.expandable__member__row td.member {
    text-align: left;
}

tbody.expandable__member__row td.member h4 {
    display: inline-block;
    margin: 0;
}

tbody.expandable__member__row div.member__image__wrapper {
    width: 50px;
    display: inline-block;
    margin-right: 20px;
}

tbody.expandable__member__row div.member__image__wrapper img {
    width: 100%;
}

tbody.expandable__member__row ul {
    list-style: none;
    padding: 0;
}

tbody.expandable__member__row td.member__party img {
    width: 25px;
    height: 25px;
}

tbody.expandable__member__row td.member__party {
    font-size: 25px;
    color: #118012;
    text-align: center;
}

tbody.expandable__member__row td.member__state {
    text-align: center;
}

tbody.expandable__member__row td.member__state span {
    margin: 0 20px;
    font-size: 1.5em;
}

tbody.expandable__member__row td.expanded.bottom > h3 {
    font-size: 16px;
}
tbody.expandable__member__row td.expanded.bottom > h4 {
    font-size: 12px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    margin-bottom: 15px;
}

table.expandable__table.member.embedded tbody.expandable__member__row tr {
    background-color: #fff;
}

@media screen and (max-width: 768px) {
    tbody.expandable__member__row > tr:first-child {
        position: relative;
        display: flex;
    }

    tbody.expandable__member__row > tr:first-child td {
        text-align: left;
    }

    tbody.expandable__member__row > tr:first-child div.member__image__wrapper {
        width: 150px;
    }

    tbody.expandable__member__row > tr:first-child td.member h4 {
        position: absolute;
        font-weight: bold;
    }

    tbody.expandable__member__row > tr:first-child td.member__party {
        position: absolute;
        top: 40px;
        left: 200px;
    }
    tbody.expandable__member__row > tr:first-child td.member__party img {
        width: 50px;
        height: 50px;
    }

    tbody.expandable__member__row > tr:first-child td.member__state {
        position: absolute;
        left: 185px;
        top: 120px;
    }

    tbody.expandable__member__row > tr:first-child td.member__state .stateface:before {
        font-size: 40px;
    }

    /* embedded instance */
    table.expandable__table.member.embedded tbody.expandable__member__row > tr:first-child td {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        text-align: left;
        margin: 0;
    }

    table.expandable__table.member.embedded tbody.expandable__member__row > tr:first-child td.member h4 {
        position: static;
        font-weight: bold;
        text-align: left;
        margin: 0;
        width: 100%;
    }

    table.expandable__table.member.embedded tbody.expandable__member__row > tr:first-child td.member__party {
        display: inline-block;
        position: static;
        width: 55px;
        text-align: left;
        margin: 0;
    }

    table.expandable__table.member.embedded tbody.expandable__member__row > tr:first-child td.member__state {
        display: inline-block;
        position: static;
        padding-top: 30px;
        width: 55px;
        text-align: left;
        margin: 0;
    }

    table.expandable__table.member.embedded tbody.expandable__member__row > tr td.collapsed {
        display: none;
        height: 0;
        width: 0;
        overflow: hidden;
    }
}

@media screen and (max-width: 475px) {
    tbody.expandable__member__row > tr:first-child td.member__party {
        position: absolute;
        top: 70px;
    }

    tbody.expandable__member__row > tr:first-child td.member__state {
        top: 135px;
    }
}
