/*embedded expandable table*/
table.contributor__table.embedded__expandable__table thead {
    background-color: #36304a;
    color: #fff;
}

table.contributor__table.embedded__expandable__table thead th {
    vertical-align: middle;
    text-align: center;
    border-right: 1px solid #bbb;
}

table.contributor__table.embedded__expandable__table tbody tr:nth-child(odd) {
    background-color: #efefef!important;
}

table.contributor__table.embedded__expandable__table > tbody > tr > td {
    text-align: left;
    display: grid;
    grid-template-columns: 7em auto;
}

table.contributor__table.embedded__expandable__table > tbody > tr > td::before {
    display: inline;
    font-weight: bold;
}

table.contributor__table.embedded__expandable__table > tbody > tr > td:nth-child(1)::before {
    content: 'Name: ';
}

table.contributor__table.embedded__expandable__table > tbody > tr > td:nth-child(2)::before {
    content: 'Total: ';
}

table.contributor__table.embedded__expandable__table > tbody > tr > td:nth-child(3)::before {
    content: 'Individuals: ';
}

table.contributor__table.embedded__expandable__table > tbody > tr > td:nth-child(4)::before {
    content: 'PACs: ';
}

